{% extends 'trackerApp/base_index.html' %}

{% block scripts %}

<script>
	$(document).ready(function(){
		var confirmed = "{{confirmed}}"
		var recovered="{{recovered}}"
		var death="{{deaths}}"
		var ctx = document.getElementById('myChart');
		var myChart = new Chart(ctx, {
		    type: 'bar',
		    data: {
		        labels: ['Confirmed Cases', 'Recovered Cases', 'Death Cases'],
		        datasets: [{
		            label: '# of Total Confirmed Cases ',
		            data: [confirmed,recovered,death],
		            backgroundColor: [
		                'rgba(54, 162, 235, 0.2)',
		                'rgba(85, 107, 47, 0.2)',
		                'rgba(255, 99, 132, 0.2)'
		            ],
		            borderColor: [
		                'rgba(54, 162, 235, 1)',
		                'rgba(85, 107, 47, 1)',
		                'rgba(255, 99, 132, 1)',

		            ],
		            borderWidth: 1
		        }]
		    },
		    options: {
		        scales: {
		            yAxes: [{
		                ticks: {
		                    beginAtZero: true
		                }
		            }]
		        }
		    }
		});
});

$(document.body).on('change',"#nameChange",function (e) {
   var name= $("#nameChange option:selected").text();
   display = `GET LIVE UPDATE ON ${name}`
   heads = `Live Data on COVID19 from ${name}`
   var butt = $('#live').text(display)
   $("#heading").text(heads)

});

$(document.body).on('change',"#nameChange",function (e) {
   var name= $("#nameChange option:selected").text();
   display = `GET LIVE UPDATE ON ${name}`
   var butt = $('#live').text(display)

});


</script>


{% endblock scripts %}
{% block content %}
<div class="text-center">
	<h1 class="col-md-12 offset-md-3 text-center">COVID-19 DATA FROM ACROSS THE WORLD</h1>
	<div class="contain" style="text-align: center;">
		<!-- SELECT BOX -->
			<h3 class="col-md-12 offset-md-3 text-center">SELECT A COUNTRY</h3>
		<form method="POST">
			{%csrf_token%}
		  <div class="form-group d-flex justify-content-center col-md-12 offset-md-2 text-center">
		
		    <select required id="nameChange" class=" opt form-control text-center align-middle col-md-12 offset-md-2  " id="exampleFormControlSelect1 " name="country_name" >
		    <option class="opt text-left align-middle ">Click here to Select a Country</option>
		      {% for name in names %}
		      <option >{{name}}</option>
		      {% endfor %}
		    </select>
	
		  </div>
		  <button id="live" type="submit " class="btn btn-outline-primary col-md-12 offset-md-3 text-center" style="font-size: 30px">Get Updates</button>
	</form>

	<div class="contain" style="text-align: center;">
		<!-- OVERALL DATA -->
		<form class="form-inline d-flex justify-content-around centre col-md-12 offset-md-3 text-center">
			<div class="line"></div>
			<h3>CONFIRMED Cases- <span style="color:blue;">{{confirmed}}</span></h3>
			<h3>RECOVERED Cases- <span style="color:green;">{{recovered}}</span></h3>
			<h3>DEATHS Cases-    <span style="color:red;">{{deaths}}</span></h3>
		</form>
	</div>
	
	<hr>
	<p align="center">Today: <span id="datetime"></span></p>
	<hr>

	<div class="container col-md-12 offset-md-3 text-center" width="500" height="250" style="margin-right:100px">
		<h3>VISUALIZING THE STATS</h3>
		<div class="block"   style="background-color: rgb(255,255,255);">
			<canvas id="myChart" width="500" height="250" style="margin-right:200px; align-items: center;"></canvas></div>
	</div>
</div>

</div>



<script>
var dt = new Date();
document.getElementById("datetime").innerHTML =(("0"+dt.getDate()).slice(-2)) +"/"+  (("0"+(dt.getMonth()+1)).slice(-2)) +"/"+ (dt.getFullYear()) +" "+ (("0"+dt.getHours()).slice(-2)) +":"+ (("0"+dt.getMinutes()).slice(-2));
</script>

{% endblock %}
